nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#header__menu' aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        svg.header__logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 320 122', style='enable-background:new 0 0 320 122;', xml:space='preserve')
          g
            g
              path.st0(d='M127.1 38.2c-20.9 0-37.8 17.7-37.8 39.5 0 21.8 16.9 39.5 37.8 39.5 20.9 0 37.8-17.7 37.8-39.5C164.9 55.9 148 38.2 127.1 38.2M127.1 94.6c-8.9 0-16.2-7.6-16.2-16.9 0-9.3 7.3-16.9 16.2-16.9 8.9 0 16.2 7.6 16.2 16.9C143.3 87 136 94.6 127.1 94.6')
              rect.st0(x='246.3', y='39.7', width='21.1', height='75.9')
              path.st0(d='M245.1 16.6c0-6.5 5.3-11.7 11.7-11.7 6.5 0 11.7 5.3 11.7 11.7 0 6.5-5.3 11.7-11.7 11.7C250.4 28.3 245.1 23.1 245.1 16.6')
              path.st0(d='M300.6 57.6H315V39.7h-14.4V17.9l-21.1 5.1v64.9c0 12 1.7 29 27.5 29 3.8 0 7.4-.4 8-.5V99.7h-5.6c-4.6 0-8.8-2.5-8.8-9.7V57.6z')
              path.st0(d='M26.1 57.6h14.4V39.7H26.1V17.9L5 22.9v64.9c0 12 1.7 29 27.5 29 3.8 0 7.4-.4 8-.5V99.7h-5.6c-4.7 0-8.8-2.5-8.8-9.7V57.6z')
              path.st0(d='M201.1 88.5l15.1-48.8h23.4L214.3 108c-2.1 5.2-7.2 9.2-13.3 9.2h0c-6.1 0-11.1-4-13.3-9.2l-25.2-68.2H186L201.1 88.5')
              path.st0(d='M82.7 38.2 82.7 38.2c-17.8 0-32.3 14.5-32.3 32.3v45.1h21.1v-42c0-9.4 5.8-14.5 14.5-14.5h1.9V38.2H82.7z')
    #header__menu.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href="#") Home
        li
          a(href="#") Section
