.col.col-md-6.col-sm-12
  table.table#myTable
    thead
      tr
        th #
        th Month
        th Year
        th Price / m2
    tbody
      tr(v-for="index in rows")
        th(scope="row") {{ index }}
        td {{ data[index].month }}
        td {{ data[index].year }}
        td {{ data[index].price_m2 }}