.header {
  height: $header-height;
  margin-bottom: 20px;
}

.header__logo {
  width: 75px;
  fill: $white;
}

.navbar-brand {
  padding: 10px 20px;
}

.navbar-nav a {
  transition-duration: $transition;
}

.navbar-toggle {
  background-color: $dark;
}